<h1>
	Managing costs
	<%= link_to 'New', new_cost_path, :class => "btn" %>
</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Frequency</th>
    <th>Montly</th>
    <th>Yearly</th>
    <th>Quarterly</th>
    <th></th>
  </tr>

<% @costs.each do |cost| %>
  <tr>
    <td><%= link_to cost.name, edit_cost_path(cost) %></td>
    <td><%= cost.description %></td>
		<td><%= cost.value.to_i %> <%= current_user.currency %></td>
    <td><%= cost.frequency %> <%= current_user.currency %></td>
    <td><%= cost.monthly %> <%= current_user.currency %></td>
    <td><%= cost.yearly %> <%= current_user.currency %></td>
    <td><%= cost.quarterly %> <%= current_user.currency %></td>
		<td><%= link_to 'Destroy', cost, :class => "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

	<tr>
		<td><b>Total:</b></td>
		<td></td>
		<td></td>
		<td></td>
		<td><b><%= @costs.sum{ |c| c.monthly } %> <%= current_user.currency %></b></td>
		<td><b><%= @costs.sum{ |c| c.yearly } %> <%= current_user.currency %></b></td>
		<td><b><%= @costs.sum{ |c| c.quarterly } %> <%= current_user.currency %></b></td>
		<td></td>
	</tr>
</table>
<div>
	<p>Left on salary: <b><%= current_user.salary - @costs.sum{ |c| c.monthly } %></b> <%= current_user.currency %></p>
</div>
