<h1>
	Managing costs
	<%= link_to 'New', new_cost_path, :class => "btn" %>
</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Frequency</th>
    <th>Montly</th>
    <th>Yearly</th>
    <th>Quarterly</th>
    <th></th>
  </tr>

<% @costs.each do |cost| %>
  <tr>
    <td><%= link_to cost.name, edit_cost_path(cost) %></td>
    <td><%= cost.description %></td>
    <td><%= cost.value %></td>
    <td><%= cost.frequency %></td>
    <td><%= cost.monthly %></td>
    <td><%= cost.yearly %></td>
    <td><%= cost.quarterly %></td>
		<td><%= link_to 'Destroy', cost, :class => "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

	<tr>
		<td><b>Total:</b></td>
		<td></td>
		<td></td>
		<td></td>
		<td><b><%= @costs.sum{ |c| c.monthly } %></b></td>
		<td><b><%= @costs.sum{ |c| c.yearly } %></b></td>
		<td><b><%= @costs.sum{ |c| c.quarterly } %></b></td>
		<td></td>
	</tr>
</table>
